.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu button{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Menu button:hover{
  filter: brightness(85%)
}

.Quiz{
  width: 500px;
  height: 500px;
  border-radius: 10px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Quiz button{
  display: grid;
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}

.Quiz button:hover{
  filter: brightness(85%)
}

.Quiz button:focus{
  filter: brightness(50%)
}
  
.EndScreen{
  width: 500px;
  height: 500px;
  border-radius: 10px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EndScreen button{
  display: grid;
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}
  
  


